Demo Booking Sub-Agent.json
{
  "name": "Demo Booking Sub-Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please book a demo with: \n{{ $json.body.name }}\nAt the following time:\n{{ $json.body.timeslot }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are provided with a person who would like to schedule a demo of the EnggAI product and their preferred timeslot. You use your tool to check the calendar's availability, and another tool to book the demo schedule in the calendar. Reply with the result. Don't book the schedule if the calendar is not available. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        0
      ],
      "id": "6bfcd91d-9d28-48f2-b799-e6986ac33d61",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -32,
        208
      ],
      "id": "ae0bcd6a-c994-404d-816d-63127fbc960b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "i55ITk3OwxWO9tHC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get availability in a calendar in Google Calendar, whether a user is available to give a demo from given start time to end time.",
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "rbpalmiano@gmail.com",
          "mode": "list",
          "cachedResultName": "rbpalmiano@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        144,
        208
      ],
      "id": "3cd62a7a-2185-4438-9f0d-65419cbfef8e",
      "name": "Get availability in a calendar in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BlwZvvDYDnVftgCu",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create an event in Google Calendar, to represent a demo at a time that is available",
        "calendar": {
          "__rl": true,
          "value": "rbpalmiano@gmail.com",
          "mode": "list",
          "cachedResultName": "rbpalmiano@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "location": "http://zoom.us/client1317",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        320,
        208
      ],
      "id": "86fd10f0-9082-4e16-9630-096143592252",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BlwZvvDYDnVftgCu",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"success\": true,\n  \"summary\": \"summarize the booking schedule\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        464,
        208
      ],
      "id": "f19d27d7-e2d3-43db-a97c-abe516d34aa9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f61afa67-9810-4868-8c09-741a079cbce2",
              "leftValue": "={{  $json.output.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        0
      ],
      "id": "61e27eec-2d6c-4285-a837-2bd57d4a2ce8",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $('AI Agent').item.json.output.summary }}",
        "options": {
          "username": "Demo Booking Sub-Agent"
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        912,
        -16
      ],
      "id": "4458a831-2b67-4368-b196-6f17c393f58d",
      "name": "Discord",
      "webhookId": "0b72ca33-5483-4e89-97e6-d7bc3e71746d",
      "credentials": {
        "discordWebhookApi": {
          "id": "xVsHt3l8rTQrufZO",
          "name": "discord_notifier"
        }
      }
    },
    {
      "parameters": {
        "content": "## Schedule Agent",
        "height": 464,
        "width": 688
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -80
      ],
      "typeVersion": 1,
      "id": "bc71517b-7630-4930-8681-890bd1fb6d04",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Report",
        "height": 464,
        "width": 672
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -80
      ],
      "typeVersion": 1,
      "id": "4577ca39-54b4-47fe-bf63-ca0e8fc3510a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ef72a4ef-0e08-42fe-a188-403b2f462296",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        0
      ],
      "id": "4fcfa9c9-d76d-46b8-838b-99c687d03edf",
      "name": "Webhook",
      "webhookId": "ef72a4ef-0e08-42fe-a188-403b2f462296"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output.summary }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        -16
      ],
      "id": "df5c29c0-e125-4cf8-9b90-60c1a0007261",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output.summary }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        176
      ],
      "id": "188760d1-7928-4fdd-9b1b-b76873dfd85e",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "607ecf63-0b99-41f4-ad20-533cc56e1471",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "30020108d17577bc9f86f2773ccc1de40da9c47825c4d584abc44307fec846ce"
  },
  "id": "EJQnaAx8sKiSO66V",
  "tags": []
}