RevOps Sub-Agent.json
{
  "name": "RevOps Sub-Agent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.sales_lead_description }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Based on the input from the user which describes a sales lead, you should reply with a structured version of the lead. Your reply will be sent to pipedrive to create a lead record."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "0276fdad-df7b-42ea-bbfd-59776f51e41e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        192
      ],
      "id": "986c0744-e13b-480c-ad0d-9a87297c7eb4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "i55ITk3OwxWO9tHC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"name\" : \"Full name of the lead\",\n  \"company\" : \"Company where they work\",\n  \"role\" : \"Their job title\",\n  \"email\" : \"Their email address\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        352,
        208
      ],
      "id": "994b97c1-078b-4893-9e09-0b41596e3615",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $('AI Agent').item.json.output.name }}",
        "additionalFields": {
          "email": [
            "={{ $('AI Agent').item.json.output.email }}"
          ],
          "org_id": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "a6ba1a0a-2983-4f46-a21c-9e0f12906621",
      "name": "Create a person",
      "credentials": {
        "pipedriveApi": {
          "id": "4y3J76yAYOIzZpIg",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "={{ $('AI Agent').item.json.output.name }}",
        "organization_id": "={{ $('Create an org').item.json.id }}",
        "additionalFields": {
          "person_id": "={{ $json.id }}"
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        976,
        0
      ],
      "id": "7532c4a5-e601-4790-8534-8e7e53c0e230",
      "name": "Create a lead",
      "credentials": {
        "pipedriveApi": {
          "id": "4y3J76yAYOIzZpIg",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "organization",
        "name": "={{ $json.output.company }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        560,
        0
      ],
      "id": "17688e33-a0c5-4472-bd5c-24fb0ef07570",
      "name": "Create an org",
      "credentials": {
        "pipedriveApi": {
          "id": "4y3J76yAYOIzZpIg",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "sales_lead_description"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        0
      ],
      "id": "6b3acdc8-29c9-4eec-9b8b-64c7911351bf",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "## Parse Data\nUse an Agent with Structured Outputs",
        "height": 480,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        -112
      ],
      "typeVersion": 1,
      "id": "257d2793-3d0e-4f50-a90c-689f3fa32d3e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Load Data\nStore parsed data in Pipdrive",
        "height": 480,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        -112
      ],
      "typeVersion": 1,
      "id": "373fdd52-71b1-4830-9772-d3e42c3833e4",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create an org",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person": {
      "main": [
        [
          {
            "node": "Create a lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an org": {
      "main": [
        [
          {
            "node": "Create a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "36df2086-7f33-4510-aa32-080183343eab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "30020108d17577bc9f86f2773ccc1de40da9c47825c4d584abc44307fec846ce"
  },
  "id": "cxqkTmVVIRft5MHG",
  "tags": []
}